/* List view */
.list-view .div {
    display: flex;
}

.list-view .game-grid {
    flex: 2;
}

.list-view .game-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
   }
}