/* Homebar */

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.home {
    padding: 0 var(--lumo-space-m);
}

body {
  background-color: #5c5c8a;
  color: white;
}

.home h1.title {
    font-size: 3em;
    margin: var(--lumo-space-m);
}

/* List view */
.list-view .div {
    display: flex;
}

.list-view .game-grid {
    flex: 2;
    color: grey;
}

grid{
    background-color: #5c5c8a;
}

.list-view .game-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .list-view.editing .taskbar,
    .list-view.editing .game-grid,
    .login-view.editing .login{
        display: none;
   }
}

/* Banner view */
.banner-view .banner-count {
    font-size: 4em;
    margin: 1em 0;
}

/* Login view */
.login-view .login-layout {

}

/* trying to a dark theme*/
:root {
  --main-color: black;
}

.login-view .login {

}

.login-view .registration-form {
    padding: var(--lumo-space-m);
}